.footer-st {
    background-color: rgba(255, 255, 255, 1);
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

svg {
    color: #009688;
}

img {
    border-radius: 50%;
}