<app-header></app-header>

@if (!estadoAgregar) {
<div class="container">
    <!-- Sección dinámica para gestionar ganado -->
    <div id="livestock-section">
        <h2 id="section-title">Gestión de Ganado</h2>

        <!-- Formulario para agregar ganado -->
        <div id="add-livestock">
            <h3>Añadir Ganado</h3>
            <form [formGroup]="livestockForm" (ngSubmit)="addLivestock()">
                <div id="purchase-fields">
                    <label for="toro-id">Número de Toro:</label>
                    <input class="form-control-lg" type="number" formControlName="toroId">

                    <label for="purchase-date">Fecha de Compra:</label>
                    <input class="form-control-lg" type="date" formControlName="purchaseDate">

                    <label for="purchase-weight">Peso de Compra (kg):</label>
                    <input class="form-control-lg" type="number" formControlName="purchaseWeight">

                    <label for="purchase-location">Lugar de Compra:</label>
                    <input class="form-control-lg" type="text" formControlName="purchaseLocation">

                    <label for="batch-number">Lote N°:</label>
                    <input class="form-control-lg" type="number" formControlName="batchNumber">
                </div>
                <br><br>
                <button class="btn btn-lg btn-login" type="submit">Agregar</button>
            </form>
        </div>

    </div>
</div>
}

@else {
<div class="d-flex flex-wrap justify-content-center">
    <div class="card">
        <div class="card-body">
            <!-- Tabla de listado de ganado -->
            <div class="form-row" style="display: flex;">
                <div class="form-group col-md-8" style="margin: auto">
                    <h2 id="section-title">Ganado: Finca {{nombreFinca}}</h2>
                </div>
                <div class="form-group col-md-4" style="margin: auto">
                    <button class="btn btn-block btn-login" (click)="cambiarEstado()">
                        <i class="fa fa-plus"></i>
                        Agregar Ganado
                    </button>
                </div>
            </div>

            <div class="table-responsive-sm" style="text-align: center">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Número de Toro</th>
                            <th scope="col">Fecha de Compra</th>
                            <th scope="col">Peso de Compra (kg)</th>
                            <th scope="col">Lugar de Compra</th>
                            <th scope="col">Lote N°</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of ganado; track ganado) {
                        <tr>
                            <td>{{item.NumeroToro}}</td>
                            <td>{{formatoFecha(item.FechaCompra.seconds) | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.PesoCompra}}</td>
                            <td>{{item.LugarCompra}}</td>
                            <td>{{item.NumeroLote}}</td>
                            <td style="display: flex;">
                                <button type="button" class="btn btn-primary">Editar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

}